/* 参考：https://github.com/vuejs/vitepress/issues/1147 */

:root {
  --vp-layout-max-width: 1920px;
  /* Notionから丸パクリ */
  --vp-font-family-base: 'ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Sans GB", "メイリオ", Meiryo, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"';
}

.content {
  max-width: 100% !important;
}

.content-container {
  max-width: 100% !important;
}

/* min-width: 1440px same as original min-width: 960px */
@media (min-width: 1440px) {
  .VPSidebar {
    padding-left: 32px !important;
    width: var(--vp-sidebar-width) !important;
  }

  .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width) !important;
    padding-right: 0 !important;
  }
}

/* Add additional min-width: 1680px */
@media (min-width: 1920px) {
  .VPSidebar {
    padding-left: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2) !important;
    width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px) !important;
  }

  .VPContent.has-sidebar {
    padding-left: calc((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)) !important;
    padding-right: calc((100vw - var(--vp-layout-max-width)) / 2) !important;
  }

  .container {
    max-width: var(--vp-layout-max-width) !important;
  }
}